.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/C-PROJECTS/v16/.suo
.vs/C-PROJECTS/v16/Browse.VC.db
.vs/C-PROJECTS/v16/ipch/AutoPCH/20b495f5c261b60b/XD.ipch
.vs/C-PROJECTS/v16/ipch/AutoPCH/9f153494faa4ea3d/ARRAY.ipch
